<footer>
    <div class="footer-container">
      <div class="footer-left">
        <h4>Copyright Path Less Traveled &copy; 2023</h4>
        <h6> Made with &hearts; by Boushra Bettir</h6>
      </div>
    </div>
  </footer>