<head>
    <meta charset = 'UTF-8'>
    <meta name = 'viewport' content = 'width = device - width, intial-scale = 1.0'>
    <title>Blog | <%= title %></title>
    <style>
        :root {
            background-color: #FFF8DC;
            margin: 30px;
        }

        .title-container {
            line-height: 45px;
            display: flex;
            justify-content: space-around;

            
        }
        
        .title-container a{
            text-decoration: none;
        }

       .title-container ul {
           display: flex;
           gap: 40px;
           font-size: 20px;
        }

        .title-container #link {
            background-color: rgb(61, 42, 42);
            color: rgb(216, 204, 204);
            padding:15px;
            height: 44px;
            border-radius: 5px;
            display: flex;
        }

        .title-container  h1 {
            font-size: 60px;
            font-weight: 800;
            color: rgb(63, 31, 31);
        }

        .content {
            background-color: rgb(65, 55, 36);
            
        }


        
    </style>
</head>