<nav>
    <div class = 'title-container'>
        <a href = '/'><h1>Korvine Blog</h1></a>
        <p> Random Korean media news created by me.</p>
    <ul>
        <a href = '/' id = 'link'>Blogs</a>
        <a href = '/about'  id = 'link'>About</a>
        <a href = '/blogs/create'  id = 'link'>Create</a>
    </ul>
</div>
</nav>