<html lang = 'en'>
    <%- include('./partials/header.ejs')%>
    <body>
        <%- include('./partials/navigate.ejs')%>

    <div class = '404 content'>
        <h2>404!</h2>
    </div>
    <%- include('./partials/footer.ejs')%>
    </html>