<html lang = 'en'>
    <head>
        <meta charset = 'UTF-8'>
        <meta name = 'viewport' content = 'width = device - width, intial-scale = 1.0'>
        <title>Blog | <%= title %></title>
    </head>
    <body>
        <nav>
            <div class = 'title-container'>
                <a href = '/'><h1>Korvine Blog</h1></a>
                <p>The Next Korean News</p>
            </div>

            <ul>
                <li><a href = '/'>Blogs</a></li>
                <li><a href = '/about'>Blogs</a></li>
                <li><a href = '/blogs/create'>Create</a></li>
            </ul>
        </nav>


    <div class = '404 content'>
        <h2>404!</h2>
    </div>

    </body>

</html>