<html lang = 'en'>
    <%- include('./partials/header.ejs')%>
    <body>
        <%- include('./partials/navigate.ejs')%>


    <div class = 'about content'>
        <h2>ABOUTT</h2>
    </div>
    <%- include('./partials/footer.ejs')%>
    </body>

</html>