:root {
    --light-blue: #d6d2ea;  
    --dark-blue: rgb(38, 38, 68);
    --light-gray: rgb(212, 212, 212);
    --bright-white: white;
    --bright-blue: rgb(75, 75, 220);
    --opacity-white: rgb(255,255,255,0.9);
    --dark-brown: rgb(37, 32, 32);
    --bright-red: rgb(187, 59, 59);
    --black: black;
    --dark-gray: rgb(96, 93, 93);

    --small-size: 13px;
    --regular-size: 20px;
    --big-size: 28px;
    --bigger-size: 35px;
}

* {
    font-family: 'Rubik', sans-serif;
}

html, body {
    margin: 10px;
    background-color: var(--light-gray);
}

.title-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-container #title {
    font-size: var(--bigger-size);
    color: var(--dark-blue);
}

.title-container ul {
    font-size: var(--regular-size);
    display: flex;
    justify-content: space-evenly;
}

.title-container button {
    background: none;
    border: none;
    transform: scale(2.5);
    margin-left: 10px;
    align-items: center;
}

.title-container .blog {
    background-color: var(--bright-red);
    color: var(--bright-white);
    padding: 13px;
    border-radius: 50px;
}

.title-container .git {
    background-color: var(--bright-blue);
    color: var(--bright-white);
    padding: 13px;
    border-radius: 50px;
}

a {
    text-decoration: none;
}

.about {
    font-size: var(--small-size);

}

.all-blogs-title {
    text-transform: uppercase;
    border-bottom: 5px solid var(--dark-blue);
}

.singular-blog {
    background-color: var(--dark-blue);
    margin: 30px;
    padding: 20px;
    box-shadow: 0 0 12px var(--dark-brown);
    transition: all 500ms ease;
}

.singular-blog:hover {
    transform: scale(1.05);
}

.singular-blog a {
    text-decoration: none;
    color: var(--opacity-white);
}

.singular-blog .name {
    font-size: var(--big-size);
    text-transform: uppercase;
}

footer {
    background-color: #F8F8F8;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  h4, h6 {
    margin: 0;
  }

.detail h2 {
    text-transform: uppercase;
    border-bottom: 5px solid var(--dark-blue);
    font-size: var(--big-size);
}

.detail h2 label {
    font-size: var(--small-size);
    color: gray;
}

.detail .content {
    background: var(--bright-white);
    padding: 20px;
    margin: 50px;
    font-size: var(--small-size);
    border-radius: 10px;
    box-shadow: 0 0 10px var(--dark-brown);
}